.coluna
{
    float:left;
}

.asideText
{
    width: 200px;
}

.asideText h3
{
    font-family: serif;
    color: #81a1c5;
    font-size: 15px;
}

.asideText p
{
    font-weight: bold;
    font-family: serif;
}

.img
{
    margin-top: 40px;
}

h2
{
    color: #81a1c5;
    font-family: serif;
}

nav
{
    margin-left: -50%;
    padding-left: 50%;
    padding-right: 200%;
    width: 1500px;
    height: 50px;
    background-color: #e6e6e6;
}

nav .coluna
{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 20px;
    font-size: 13px;
}

body
{
    font-family: sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    width: 100%;
}

h1
{
    font-family: serif;
}

header
{
    font-weight: bold;
    margin-left: -50%;
    padding-left: 50%;
    padding-right: 200%;
    color: white;
    width: 1500px;
    height: 70px;
    background-color: #004e87;
}

main
{
    text-align: left;
}

aside
{
    border-top-style: ridge;
    border-top-color: grey;
    border-top-width: 1px;
    margin-left: 20px;
    width: 300px;
}

#primeiraColuna .linha
{
    width: 800px;
    height: 100px;
}

#segundaColuna
{
    font-size: 15px;
    width:200px;
}

#segundaColuna .linha
{
    border-bottom-style: ridge;
    border-bottom-color: grey;
    border-bottom-width: 1px;
}

#primeiraLinha
{
    height: 400px;
}

#leftPrincipal
{
    color: lightgrey;
    font-size: 15px;
    width: 400px;
}

#leftPrincipal img
{
    width: 400px;
}

#rightPrincipal
{
    margin-left: 20px;
    width: 1000px;
}

#rightPrincipal h2
{
    margin-top: 0px;
    margin-bottom: 3px;
}

#rightPrincipal h1
{
    margin-top: 3px;
}

#rightPrincipal cite
{
    color: Grey;
    font-weight: bold;
}

#rightPrincipal p
{
    color: lightGrey;
}

#leftHeader
{
    margin-top: 20px;
}

#subscribe
{
    color: black;
    background-color: #fcb400;
}

#middleHeader
{
    margin-left: 25%;
}

#rightHeader
{
    margin-top: 20px;
    float: right;
}

#login
{
    border-style: ridge;
    border-color: white;
    border-width: 1px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#navIcons
{
    margin-top: -5px;
    font-size: 30px;
    margin-left: 60px;
}